{# app/Resources/views/Emails/registration.html.twig #}

<h3>Commande effecuté avec succès !</h3>

Bonjour,

<p>Votre réservation numéro {{ numReservation }} d'en montant de {{ totalPrice }} pour le {{ dateOfBooking|date('d/m/Y') }} 
    sur le site du <a href="http://localhost:8888/web/app_dev.php/museedulouvre.fr"> Musée du Louvre</a> 
    à bien été pris en compte.</p> 

<p>Votre réservation a été validé pour les personnes suivantes :</p>


    <li>{{ tableauNom|join(', ') }}</li>


<p>Nous vous souhaitons une agréable visite.</p>



<img src="{{ imageSrc }}" alt="Logo musee">