{# src/OC/BookingBundle/Resources/views/Bookingform/form.html.twig #} 

{% extends "OCBookingBundle::layout.html.twig" %}

{% block title %}{{ parent () }} - Boutique{% endblock %}

{% block body %}

<div class="well">
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

{{ form_errors(form) }}

    <div class="form-group">

        {# Visit day #} 
        {{ form_label(form.bookingDate, "Date de la visite", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
        {{ form_errors(form.bookingDate) }}
        <div class="col-sm-3">
            {{ form_widget(form.bookingDate) }}
        </div>

        {# Visitor Number #} 
        {{ form_label(form.nbVisitor, "Nombre de visiteur", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
        {{ form_errors(form.nbVisitor) }}   
        <div class="col-sm-1">
            {{ form_widget(form.nbVisitor, {'attr': {'class': 'form-control'}}) }}
        </div>

        {# Booking type #} 
        {{ form_label(form.ticketType, "Type de réservation", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
        {{ form_errors(form.ticketType) }}   
        <div class="col-sm-1">
            {{ form_widget(form.ticketType, {'attr': {'class': 'form-control'}}) }}
        </div>

        {# Booking email #} 
        {{ form_label(form.bookingemail, "Email de réservation", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}
        {{ form_errors(form.bookingemail) }}   
        <div class="col-sm-1">
            {{ form_widget(form.bookingemail, {'attr': {'class': 'form-control'}}) }}
        </div>

    </div>


  
 
{{ form_rest(form) }}
        

{{ form_end(form) }}

{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

</div>

{% endblock %}



